.todo-list-wrapper {
  .header-wrapper {
    padding : 0.5em 1em;
    border-bottom: 1px solid var(--gray-light);
    h2 {
      font-size: var(--text-lg);
    }
  }
  .article-wrapper{
    padding : 0.5em 0.75em;


  }
}